@media screen and (max-width: 768px) {
  .Message {
    min-width: 75% !important;
  }
}

.Message {
  max-width: 75%;
  min-width: 55%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  background-color: var(--color-secondary-background);
  color: var(--color-primary-text);
}

.senderMessage {
  margin-left: auto;
  background-color: var(--color-secondary-background);
  filter: brightness(1.2) hue-rotate(20deg) contrast(0.8);
  color: var(--color-primary-text);
  right: 10px;
}

.Message.senderMessage.Begin {
  border-radius: 10px 0px 10px 10px !important;
}

.Message.recipientMessage.Begin {
  border-radius: 0px 10px 10px 10px !important;
}

/* Ensure the triangle is visible for messages with Begin class */
.Begin .MessageTriangle {
  display: block !important;
}

/* Hide the triangle for messages without Begin class */
.Message:not(.Begin) .MessageTriangle {
  display: none !important;
}

.recipientMessage {
  margin-right: auto;
  left: 10px;
}

.MessageContent {
  position: relative;
}

.EditTextarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--color-secondary-background);
  color: var(--color-primary-text);
}

.EditButtons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.MessageImage {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 8px;
}

.MessageMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 0.8em;
}

.Timestamp {
  color: var(--color-secondary-text);
}

.MessageActions {
  display: flex;
  gap: 5px;
}

.AvatarLink {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
}

.Username {
  margin-left: 5px;
  font-weight: bold;
}