.Post {
  background-color: var(--color-secondary-background);
  border: 3px solid var(--color-secondary-text);
  border-radius: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0;
}

.Heart {
  color: var(--color-error);
}

.Heart:hover {
  color: var(--color-info);
}

.HeartOutline:hover {
  color: var(--color-error);
}

.PostBar {
  color: var(--color-secondary-text);
}

.Date {
  color: var(--color-secondary-text);
  font-style: italic !important;
}

.PostImage {
  border-radius: 50px;
  padding: 30px;
}

.PostTitle, .PostText {
  color: var(--color-secondary-text);
}