.Post {
  background-color: var(--color-primary-text);
  border: 1px solid var(--color-secondary-text);
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0;
}

.Heart {
  color: var(--color-error);
}

.Heart:hover {
  color: var(--color-info);
}

.HeartOutline:hover {
  color: var(--color-error);
}
