

:root {
    /* Dark Theme Colors */
    --color-background: #121212;
    --color-secondary-background: #1F1F1F;
    --color-accent: #1DB954;
    --color-primary-text: #f0e7e7;
    --color-secondary-text: #B3B3B3;
  
    --color-error: #FF5252;
    --color-success: #4CAF50;
    --color-info: #2196F3;

     /* Button Colors */
     --color-button-primary: var(--color-accent); 
     --color-button-secondary: var(--color-secondary-background); 
     --color-button-ignore: var(--color-secondary-background); 
     --color-button-danger: var(--color-error); 
 
     /* Text Input Colors */
     --color-textarea-primary: var(--color-primary-text); 
     --color-textarea-secondary: var(--color-secondary-background);
     --color-textinput-text: var(--color-secondary-background);
   
     /* Fonts */
     --font-primary: 'Core Sans C', sans-serif;
     --font-secondary: 'Serifa', sans-serif;
 }

 /* Define Core Sans C Font Faces */
@font-face {
    font-family: 'Core Sans C';
    src: url('./fonts/Fontspring-DEMO-coresansc15.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Core Sans C';
    src: url('./fonts/Fontspring-DEMO-coresansc25.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Core Sans C';
    src: url('./fonts/Fontspring-DEMO-coresansc35.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Core Sans C';
    src: url('./fonts/Fontspring-DEMO-coresansc75.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Core Sans C';
    src: url('./fonts/Fontspring-DEMO-coresansc85.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Define Serifa Font Faces */
  @font-face {
    font-family: 'Serifa';
    src: url('./fonts/SerifaStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Serifa';
    src: url('./fonts/SerifaStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Serifa';
    src: url('./fonts/SerifaStd-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Serifa';
    src: url('./fonts/SerifaStd-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }